@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "List User";
}

<div class="text-center">
    <h1 class="display-4">List Product</h1>
    <a class="btn btn-primary" asp-controller="User" asp-action="Create"> Create User </a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Hành động</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var u in Model)
                {
                    <tr>
                        <td>@u.Id</td>
                        <td>@u.UserName</td>
                        <td>@u.Email</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@u.Id" class="btn btn-sm btn-warning">Sửa</a>
                            <form asp-action="Delete" asp-route-id="@u.Id" method="post" style="display:inline" onsubmit="return confirm('Bạn có chắc chắn muốn xóa?');">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
    @* @Html.PagedListPager(Model, page => Url.Action("Index", new {page}), new PagedListRenderOptions
    {
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        UlElementClasses = new[] { "pagination" },
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always
        }) *@
</div>
